section {
  max-width: 1200px;
  margin: auto;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  position: fixed;
}

.logo {
  position: absolute;
  left: 940px;
}

.main-part {
  display: grid;
  grid-template-columns: 385px 785px;
  grid-template-rows: auto;
  justify-content: center;
  overflow: auto;
  background-image: url(images/bg-picture.svg) ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 1000px 110px;
}

aside {
  font-family: "Francois One", serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 100px;
  position: sticky;
  top: 100px;
}

aside>nav {
  padding-bottom: 10px;
  padding-right: 30px;
}

div.up-h {
  display: inline-flex;
  justify-content: space-between;
  width: 361px;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  margin-right: 30px;
  background-color: lightgray;
  margin-bottom: 70px;
}

li>div>span:first-of-type {
  font-family: "Tourney", serif;
}

li>div>span:nth-child(2) {
  font-family: "Staatliches", serif;
}

li {
  list-style: none;
}

.section-hr {
  height: 8px;
  width: 100px;
  background-color: black;
  position: relative;
  right: 653px;
  top: 90px;
}

.headers {
  display: inline-flex;
  width: max-content;
  margin: 0px 0px 20px;
}

h2 {
  font-family: "Francois One", serif;
  font-size: 36px;
  text-transform: uppercase;
}

section>div>span {
  font-family: "Farro", serif;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 0px;
}

p {
  font-family: "PT Sans", serif;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2;
}

.under {
  text-decoration: underline;
}

.ital {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.bold:first-of-type {
  margin-left: -20px;
}

.bc {
  background-color: lightgray;
}